{% load custom_home_loops %}

        <section class="section-default section-spacer clearfix">
            <h3 class="section-title"> <span>Notícias destaque</span></h3>
            <div class="container-posts">
                {% blog_recent_posts category='feature' as posts %}
                {% for post in posts %}
                <div class="post-item">
                    <div class="post-image-box">
                        <a href="{{ post.get_absolute_url }}">
                            {% if post.featured_image %}
                                <div class="post-image"
                                     style="background-image:url('{{ MEDIA_URL }}{{ post.featured_image }}')">
                                </div>
                            {% else %}
                                <div class="post-image"
                                     style="background-image:url('{{ STATIC_URL }}img/image_placeholder.jpg')">
                                </div>
                            {% endif %}
                        </a>
                    </div>
                    <div class="post-info">
                        <small class="post-date">Abr 22, 2019</small>
                        <h3 class="post-title">{{ post }} </h3>
                        <p>The Research, Innovation and Dissemination Center for Neuromathematics (RIDC NeuroMat) has sustained an ongoing project for the development of new strategies of transcranial magneti</p>
                    </div>
                </div>
                {% endfor %}

            </div>
        </section>
