{% load i18n static custom_home_loops %}

{% feature_cards as cards %}
<div id="paralaxSection" class="container-fluid container-paralax">
    <section class="section-default">
        <div class="promo-banner">
        {% for card in cards %}
            <div class="promo-item">
                <div class="title">
                    <h2>{{ card.title }}</h2>
                </div>
                <div class="description">
                    <h2>{{ card.title }}</h2>
                    <p>{{ card.description }}</p>
                    <a href="{{ card.link }}" class="btn">{% trans "Read more" %}</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>
</div>