{% load static %}

<div id="paralaxSection" class="container-fluid container-paralax">
    <section class="section-default">
        <div class="promo-banner">
            <div class="promo-item">
                <div class="title">
                    <h2>Jogo do Goleiro</h2>
                </div>
                <div class="description">
                    <h2>Jogo do goleiro</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptatem laborum quos et, illo quibusdam culpa eaque debitis placeat ut.</p>
                    <button class="btn">Saiba mais</button>
                </div>
            </div>
            <div class="promo-item">
                <div class="title">
                    <h2>Podcast: A Matemática do Cérebro</h2>
                </div>
                <div class="description">
                    <h2>Podcast: A Matemática do Cérebro</h2>
                    <p>O Podcast: A Matemática do Cérebro aborda três temas principais: o modelo de sistemas de disparos neuronais desenvolvido pela equipe do CEPID NeuroMat.</p>
                    <div class="podcast-button" style="background-image: url('{% static "img/podcast.png" %}');">
                        Ouça e assine nas principais plataformas
                    </div>
                </div>
            </div>
            <div class="promo-item">
                <div class="title">
                    <h2>Iniciativa Wikipedia</h2>
                </div>
                <div class="description">
                    <h2>Iniciativa Wikipedia</h2>
                    <p>O trabalho de difusão do NeuroMat trabalha tanto em formação, quanto de comunicação. Especificamente na comunicação, o NeuroMat trabalha com o uso da Wikipédia na difusão científica.</p>
                    <a href="page.html" class="btn">Saiba mais</a>
                </div>
            </div>
            <div class="promo-item">
                <div class="title">
                    <h2>Transferência Tecnológica</h2>
                </div>
                <div class="description">
                    <h2>Transferência Tecnológica</h2>
                    <p>O eixo de transferência tecnológica do CEPID NeuroMat pauta-se pelo arcabouço conceptual e experimental desenvolvido pela equipe cientifica do NeuroMat para explicar fenômenos neurocientíficos.</p>
                    <button class="btn">Saiba mais</button>
                </div>
            </div>
        </div>
    </section>
</div>