{% extends "pages/page.html" %}

{% load mezzanine_tags custom_home_loops %}

{% block main %}{{ block.super }}

    {% editable page.richtextpage.content %}
            <div class="container-fluid">
                <section class="section-default">
                    <div class="col-md-9 page-content">
                        <h2 class="section-title"> <span>{{ page.title }}</span></h2>
                        {% if page.get_slug == 'sobre-o-neuromat/news' or page.get_slug == 'noticias' or page.get_slug == '#/news' %}
                                <div class="container-posts container-posts--horizontal">
                                    {% if request.GET.page %}
                                        {% blog_recent_posts page=request.GET.page category='news' as posts %}
                                    {% else %}
                                        {% blog_recent_posts page=1 category='news' as posts %}
                                    {% endif %}

                                    {% for post in posts %}
                                    <div class="post-item">
                                        <div class="post-image-box">
                                            <a href="{{ post.get_absolute_url }}">
                                                {% if post.featured_image %}
                                                    <div class="post-image"
                                                         style="background-image:url('{{ MEDIA_URL }}{{ post.featured_image }}')">
                                                    </div>
                                                {% else %}
                                                    <div class="post-image"
                                                         style="background-image:url('{{ STATIC_URL }}img/image_placeholder.jpg')">
                                                    </div>
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="post-info">
                                            <small class="post-date">{{ post.publish_date|date:"M d, Y" }}</small>
                                            <h3 class="post-title">{{ post.title | truncatewords:15 }} </h3>
                                            <p>{{ post.description | safe | truncatewords:50 }}</p>
                                        </div>
                                    </div>
                                    {% endfor %}

                                    <div class="pagination">
                                        {% if posts.has_previous %}
                                            <li>
                                                <a href="/difusao/noticias/?page={{ posts.previous_page_number }}">
                                                    Anterior
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% for pg in posts.paginator.page_range %}
                                            <li class="{% if posts.number == pg %} active {% endif %}">
                                                <a href="/difusao/noticias?page={{pg}}">
                                                    {{ pg }}
                                                </a>
                                            </li>
                                        {% endfor %}

                                        {% if posts.has_next %}
                                            <li>
                                                <a href="/difusao/noticias?page={{ posts.next_page_number }}">
                                                    Próxima
                                                </a>
                                            </li>
                                        {% endif %}
                                    </div>
                                </div>
                        {% endif %}

                        {# Eventos #}
                        {% if page.get_slug == 'events' or page.get_slug == 'eventos'%}
                                <div class="container-posts container-posts--horizontal">
                                    {% if request.GET.page %}
                                        {% blog_recent_posts limit=6 page=request.GET.page category='events' as posts %}
                                    {% else %}
                                        {% blog_recent_posts limit=6 page=1 category='events' as posts %}
                                    {% endif %}

                                    {% for post in posts %}
                                    <div class="post-item">
                                        <div class="post-info">
                                            <small class="post-date">{{ post.publish_date|date:"M d, Y" }}</small>
                                             <a href="{{ post.get_absolute_url }}" title="{{ post.title }}">
                                                 <h3 class="post-title">{{ post.title | truncatewords:15 }} </h3>
                                             </a>
                                            <p> {% autoescape off %} {{ post.description | truncatewords:50 }}
                                            {% endautoescape %}</p>
                                        </div>
                                    </div>
                                    {% endfor %}

                                    <div class="pagination">
                                        {% if posts.has_previous %}
                                            <li>
                                                <a href="/eventos/?page={{ posts.previous_page_number }}"> Anterior
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% for pg in posts.paginator.page_range %}
                                            <li class="{% if posts.number == pg %} active {% endif %}">
                                                <a href="/eventos/?page={{pg}}">
                                                    {{ pg }}
                                                </a>
                                            </li>
                                        {% endfor %}

                                        {% if posts.has_next %}
                                            <li>
                                                <a href="/eventos/?page={{ posts.next_page_number }}">
                                                    Próxima
                                                </a>
                                            </li>
                                        {% endif %}
                                    </div>
                                </div>
                        {% endif %}

                        {# Publicações #}
                        {% if page.get_slug == 'publications' or page.get_slug == 'research/publications'%}
                                <div class="container-posts container-posts--horizontal">
                                    {% if request.GET.page %}
                                        {% blog_recent_posts limit=6 page=request.GET.page category='publications' as posts %}
                                    {% else %}
                                        {% blog_recent_posts limit=6 page=1 category='publications' as posts %}
                                    {% endif %}

                                    {% for post in posts %}
                                    <div class="post-item">
                                        <div class="post-info">
                                            <small class="post-date">{{ post.publish_date|date:"M d, Y" }}</small>
                                             <a href="{{ post.get_absolute_url }}" title="{{ post.title }}">
                                                 <h3 class="post-title">{{ post.title | truncatewords:15 }} </h3>
                                             </a>
                                            <p> {% autoescape off %} {{ post.description | truncatewords:50 }}
                                            {% endautoescape %}</p>
                                        </div>
                                    </div>
                                    {% endfor %}

                                    <div class="pagination">
                                        {% if posts.has_previous %}
                                            <li>
                                                <a href="/research/publications?page={{ posts.previous_page_number }}">
                                                    Anterior
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% for pg in posts.paginator.page_range %}
                                            <li class="{% if posts.number == pg %} active {% endif %}">
                                                <a href="/research/publications?page={{pg}}">
                                                    {{ pg }}
                                                </a>
                                            </li>
                                        {% endfor %}

                                        {% if posts.has_next %}
                                            <li>
                                                <a href="/research/publications?page={{ posts.next_page_number }}">
                                                    Próxima
                                                </a>
                                            </li>
                                        {% endif %}
                                    </div>
                                </div>
                        {% endif %}

                        {# VIDEOS #}
                        {% if page.get_slug == 'videos' or page.get_slug == 'sobre-o-neuromat/videos' %}
                                <div class="container-posts">
                                    <pre>{{ page.get_slug }}</pre>
                                    {% blog_recent_posts category=page.get_slug as posts %}
                                    {% for post in posts %}
                                    <div class="post-item">
                                        <div class="post-image-box">
                                            <a href="{{ post.get_absolute_url }}">
                                                {% if post.featured_image %}
                                                    <div class="post-image"
                                                         style="background-image:url('{{ MEDIA_URL }}{{ post.featured_image }}')">
                                                    </div>
                                                {% else %}
                                                    <div class="post-image"
                                                         style="background-image:url('{{ STATIC_URL }}img/image_placeholder.jpg')">
                                                    </div>
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="post-info">
                                                <small class="post-date">{{ post.publish_date|date:"M d, Y" }}</small>
                                            <h3 class="post-title">{{ post.title | truncatewords:15 }} </h3>
                                            <p>{{ post.description | truncatewords:50 }}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                        {% endif %}

                        {% if page.get_slug == 'contact' %}
                            <div class="container-posts">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7314.687364901179!2d-46.731832!3d-23.556097!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjPCsDMzJzMxLjMiUyA0NsKwNDMnNTUuNSJX!5e0!3m2!1spt-BR!2sus!4v1579108228922!5m2!1spt-BR!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                                <div class="contact-block-info">
                                    <div class="address-info">
                                        <p><strong>Mailing address: </strong> Rua do Matão, 1010 - Cidade
                                            Universitária - São Paulo - SP - Brasil - CEP 05508-090.</p>
                                        <p> <strong>Phone: </strong> 55 11 3091-1717 </p>
                                        <p> <strong>Email: </strong> neuromat@numec.prp.usp.br</p>
                                    </div>
                                     <ul class="social-media-list">
                                        <li class="social-media-list">
                                            {% autoescape off %}
                                                {% get_social_media_links list=True %}
                                            {% endautoescape %}
                                        </li>
                                     </ul>
                                </div>
                            </div>
                        {% endif %}

                        <div class="post-feature-item">
{#                             <pre>{{ page.get_slug }}</pre>#}
                            {% if page.page_image %}
                                <div class="post-feature-image" style="background-image:url('{{ MEDIA_URL }}{{ page.page_image }}')"></div>
                            {% endif %}
                            <div class="post-feature-info">
                                {{ page.richtextpage.content|richtext_filters }}
                                {# Newsletter input component #}
                                {# {% include "components/newsletter_subscribe_input/newsteller_subscribe_input.html" %} #}
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        {% include "components/sidebar/sidebar.html" %}
                    </div>
                </section>
            </div>
    {% endeditable %}
{% endblock %}
