{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block main %}{{ block.super }}

    {% editable page.richtextpage.content %}
            <div class="container-fluid">
                <section class="section-default">
                    <div class="col-md-9 page-content">
                        <h2 class="section-title"> <span>{% editable page.title %}{{ page.title }}{% endeditable %}</span></h2>

                        <div class="post-feature-item">
                            {% if page.page_image %}
                                <div class="post-feature-image" style="background-image:url('{{ MEDIA_URL }}{{ page.page_image }}')"></div>
                            {% endif %}
                            <div class="post-feature-info">
                                {{ page.richtextpage.content|richtext_filters }}
                                {# Newsletter input component #}
                                {# {% include "components/newsletter_subscribe_input/newsteller_subscribe_input.html" %} #}

                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        {% include "components/sidebar/sidebar.html" %}
                    </div>
                </section>
            </div>
    {% endeditable %}
{% endblock %}
