{% load mezzanine_tags %}
<div class="sidebar-component">
    {# Newsletter subscribe   #}
     {% include 'components/newsletter_subscribe_input/newsteller_subscribe_input.html' %}


    {# NEWSLETTER LIST #}
{#     {% if page.get_slug is not 'dissemination' %}#}
{#         {% include 'components/newsletter_list/newsletter_list.html' %}#}
{#     {% endif %}#}
    <div
            class="fb-page"
            data-href="https://pt-br.facebook.com/neuromathematics"
            data-tabs="timeline"
            data-width=""
            data-height=""
            data-small-header="false"
            data-adapt-container-width="true"
            data-hide-cover="false"
            data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/facebook">Facebook</a>
                </blockquote>
    </div>

{#    {% include 'components/swiper/swiper.html' %}#}
</div>