@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap');

// COLORS
$verde-neuromat: #2dc450;
$color-button-hover: #5eb052;
$color-link-footer: white;
$color-focus: rgb(250, 250, 191);
$color-btn-default: #f3f3f3;

*{
    outline: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

// HEADING

h1, h2, h3, h4, h5, p, span, a, button{
    font-family: 'Open Sans', sans-serif;
}

.title-section{
    margin: 25px auto 20px auto;
    padding: 0;
    font-size: 1.5em;
}

.section-title{
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 4px;
    border-bottom: 1px solid green;
    span{
        position: relative;
        &:before{
            content: '';
            bottom: -3px;
            left: 0;
            width: 120%;
            height: 2px;
            background-color: rgb(78, 133, 46);
            z-index: 500;
            position: absolute;
        }
    }
}

// BREAKPOINTS . MEDIA QUERIES ***

// Smartphones
$mq-smartphones-portrait-landscape: "only screen and (min-width : 320px) and (max-width : 1024px)";

$mq-smartphones-portrait: "only screen and (max-width : 320px)";
$mq-smartphones-landscape: "only screen and (min-width : 321px)";

// iPads
$mq-ipads-portrait-landscape: "only screen and (min-device-width : 768px) and (max-device-width : 1024px)";
$mq-ipads-portrait: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)";
$mq-ipads-landscape: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)";

// Large Screens
$mq-desktops-laptops: "only screen and (min-width : 1224px) and (max-width: 1824px)";
$mq-large-screens: "only screen and (min-width : 1824px)";

body{
    @media #{$mq-smartphones-portrait-landscape}{
        padding-top: 0;
    }
}

// MAIN STYLES
.app-portal{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    header{
        display: flex;
        width: 80%;
        height: 80px;
        margin: auto;
        align-items: center;
        justify-content: space-between;
        position: relative;


       @media #{$mq-desktops-laptops}{
           width: 90%;
           height: auto;
       }

        @media #{$mq-smartphones-portrait-landscape}{
            display: none;
        }


        .logo{
            width: 320px;
            height: 80px;
            font-size: 2.5em;
            font-weight: bold;
            display: flex;
            align-items: center;
            position: relative;
            color: #333;
            text-decoration: none;
            font-family: Arial;
            @media #{$mq-desktops-laptops}{
                height: auto;
            }
            small{
                font-size: 0.35em;
                font-weight: normal;
                line-height: 12pt;
                padding-left: 8px;
                margin-left: 9px;
                border-left: 1px solid #333;
                @media #{$mq-desktops-laptops}{
                    display: none;
                }
            }
        }
        nav{
            width: 70%;
            margin-right: 160px;

            @media #{$mq-desktops-laptops}{
                width: 75%;
                display: flex;
                align-items: center;
            }

            ul{
                list-style: none;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                font-size: 1em;
                z-index: 9999;


                li.social-media-link{
                    margin-left: 0;
                    margin-right: 0;
                    padding-left: 0;
                    @media #{$mq-desktops-laptops}{
                        display: none;
                    }
                    border: none;
                    &:hover{
                        border: none;
                    }
                    a{
                        color: #333;
                        font-size: 1.2em;
                        &:hover{
                            color: rgb(18, 88, 122);;
                        }
                    }
                }

                .language-link{
                    display: flex;
                    align-items: center;
                    margin-right: 25px;
                    width: 120px;
                    justify-content: space-between;

                    a, input[type="submit"], .btn-link{
                        text-decoration: none;
                        color: #333 !important;
                        outline: none;
                        border: none;
                        background: transparent;
                        width: auto;
                    }
                }

                li.submenu{
                    &:hover{
                        &:after{
                            @media #{$mq-desktops-laptops}{
                                bottom: -1px;
                            }
                        }
                    }
                }

                li{
                    margin-right: 15px;
                    padding: 15px;
                    position: relative;
                    border: 1px solid transparent;

                    &:hover{
                        border: 1px solid #333;
                        &:after{
                            content: '';
                            width: 100%;
                            height: 2px;
                            background: white;
                            position: absolute;
                            bottom: 1px;
                            left: 0;
                            z-index: 99000;


                            @media #{$mq-large-screens}{
                                bottom: 5px;
                            }
                        }

                        ul{
                            display: flex;
                        }
                    }

                    // DESKTOP AND NOTEBOOKS
                    @media #{$mq-desktops-laptops}{
                        align-self: center;
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }

                    nav{
                        margin-right: auto;
                    }

                    a{
                        color: #333;
                        text-decoration: none;
                    }

                    // SUB NAVIGATION
                    ul{
                        display: none;
                        position: absolute;
                        top: 48px;
                        left: -1px;
                        flex-direction: column;
                        background: white;
                        width: 220px;
                        margin: 0;
                        padding: 5px 0 0 0;
                        border-top: 1px solid #333;
                        border-bottom: 1px solid #333;
                        border-left: 1px solid #333;
                        border-right: 1px solid #333;
                        list-style: none;

                        @media #{$mq-desktops-laptops}{
                            top: 34px;
                        }

                        li{
                            display: flex;
                            padding: 8px;
                            width: 100%;
                            margin: 0;

                            // DESKTOP E NOTEBOOKS
                            @media #{$mq-desktops-laptops}{
                                padding: 6px;
                            }

                            a{
                                @media #{$mq-desktops-laptops}{
                                    font-size: .9em;
                                }
                            }

                            &:hover{
                                background: #f3f3f3;
                                border: 1px solid transparent;
                            }

                            &:after{
                                height: 0;
                            }
                        }
                    }
                }
            }
        }

        .fapesp-apoio{
            width: 150px;
            height: 65px;
            background-image:url('http://www.sbgea.org.br/wp-content/uploads/2019/08/FAPESP_LOGO.png');
            background-size: 65%;
            background-repeat: no-repeat;
            background-position: bottom;
            position: absolute;
            top: -10px;
            right: 0;
            span{
                position: absolute;
                font-size: 0.8em;
                font-weight: bold;
                padding-left: 10px;
                top: 12px;
                left: 20px;
                color: #069;
            }

            @media #{$mq-desktops-laptops}{
                display: none;
            }

        }
    }
}

.section-default{
    width: 80%;
    margin: auto;
    @media #{$mq-desktops-laptops}{
        width: 90%;
    }
    @media #{$mq-smartphones-portrait-landscape}{
        width: 100%;
    }
}

.container-paralax{
    @media #{$mq-smartphones-portrait-landscape}{
        display: none !important;
    }
}

.promo-banner{
    width: 100%;
    height: 300px;
    margin-top: 10px;
    background: transparent;
    display: flex;
    box-shadow: 4px 4px 10px black;
    @media #{$mq-smartphones-portrait-landscape}{
        display: none;;
     }
    .promo-item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 300px;
        margin: 2px;
        border: 0.5px solid white;
        background-size: cover;
        background-position: center;
        background-color: transparent;
        &:hover{
            border: 0.5px solid $verde-neuromat;
            .title{
                display: none;
            }
            .description{
                display: flex;
            }
        }
        .title{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 60px;;
            background: white;
            h2{
                font-weight: normal;
                font-size: 1.4em;
                width: 100%;
                color: #333;
                text-align: center;
                margin: 0;
                padding: 0;
                @media #{$mq-desktops-laptops}{
                    font-size: 1.2em;
                }
            }
        }

        .description{
            display: none;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 300px;
            padding: 20px;
            background: black;
            position: relative;
            h2{
                color: white;
                font-size: 1.2em;
                text-align: center;
                margin-top: 5px;
                margin-bottom: 20px;
                font-weight: bold;
            }
            p{
                color: white;
                line-height: 17pt;
                font-size: 0.9em;
                @media #{$mq-large-screens}{
                    height: 180px;;
                }
            }
            button, a{
                border: none;
                text-decoration: none;
                padding: 8px;
                width: 90%;
                height: 38px;
                text-align: center;
                border-radius: 3px;
                font-size: 1em;
                background: $color-btn-default;
                color: #333;
                cursor: pointer;

                &:hover{
                    background: $color-button-hover;
                    color: white;
                }
            }
        }
    }

}

// SEARCH BOX
.search-box{
    width: 100%;
    height: 100px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7ea;
    padding: 40px auto;
    border-bottom: 1px solid #ddd;
    margin-top: 0;
    @media #{$mq-smartphones-portrait-landscape}{
        margin-top: 0;
    }
    form{
        width: 60%;
        display: flex;
        @media #{$mq-smartphones-portrait-landscape}{
            width: 100%;
            display: flex;
        }
        @media #{$mq-desktops-laptops}{
            width: 80%;
        }

    }
    input{
        outline: none;
        align-self: center;
        border: 1px solid #ddd;
        padding: 8px;
        font-size: 1.2em;
        width: 88%;
        height: 50px;
        flex-grow: 0;
        @media #{$mq-smartphones-portrait-landscape}{
            width: 70%;
            height: 40px;
            font-size: 1.2em;
         }
        &::placeholder{
            font-size: 0.9em;
        }
        &:focus{
            border: 1px solid $verde-neuromat;
            &::placeholder{
                color: $verde-neuromat;
            }
        }
    }

    button{
        align-self: center;
        width: 100px;
        height: 50px;;
        flex-grow: 0;
        background: $color-btn-default;
        border: 1px solid #ccc;
        border-left: none;
        cursor: pointer;
        @media #{$mq-smartphones-portrait-landscape}{
            height: 40px;
        }
        &:hover{
            background: $color-button-hover;
            color: white;
        }
    }
}

// POST CONTENT
.post-feature-item{
    display: flex;
    @media #{$mq-smartphones-portrait-landscape}{
        flex-direction: column;
    }
    .post-feature-image{
        width: 55%;
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 15px;
        border-radius: 3px;

        @media #{$mq-desktops-laptops}{
            width: 75%;
            height: 260px;
        }

        @media #{$mq-smartphones-portrait-landscape}{
            display: none;
        }
    }
    .post-feature-info{
        width: 100%;
        @media #{$mq-smartphones-portrait-landscape}{
            width: 100%;
        }
        h3{
            margin-top: 0;
        }
    }
}

.post-item{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 10px;
    @media #{$mq-smartphones-portrait-landscape}{
        width: 100%;
    }
    .post-image-box{
        width: 100%;
        height: 200px;
        .post-image{
            width: 100%;
            height: 200px;
            background-size: cover;
            background-position: center;
            background-color: #ccc;
            border-radius: 3px;
            transition: opacity ease 0.4s;
            &:hover{
                opacity: 0.8;
            }
        }
    }
    small{
        font-weight: bold;
        color: #333;
        background: khaki;
    }
    .post-title{
        margin-top: 12px;
        margin-bottom: 20px;
        padding: 0;
        font-size: 1.2em;
        line-height: 17pt;
        min-height: 60px;
        @media #{$mq-smartphones-portrait-landscape}{
            height: 30px;
        }
        @media #{$mq-desktops-laptops}{
            font-size: 1.1em;
        }
    }
    p{
        line-height: 17pt;
    }
}

// PROJECT SLIDESHOW
.project-slideshow-component{
    display: flex;
    width: 100%;
    height: 300px;
    .swiper-container {
        width: 100%;
        height: 300px;
        margin-top: 10px;
        .swiper-slide{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                filter: grayscale(0.9);
                opacity: 0.5;
                transition: all ease 0.5s;
                &:hover{
                    opacity: 1;
                    filter: grayscale(0);
                }
            }
        }

        .swiper-pagination{
            .swiper-pagination-bullet{
                width: 12px;
                height: 12px;
                cursor: pointer;
            }
        }
    }
}

// NEWSLETTER
.newsletter-lead{
    margin-top: 40px;
    margin-bottom: 25px;
    @media #{$mq-desktops-laptops}{
        margin: 0 0 20px 0;
    }
    .newsletter-lead-row{
        display: flex;
        align-items: center;
        input{
            border: 1px solid #ccc;
            border-radius: 3px;
            width: 70%;
            height: 35px;
            padding: 6px;
            font-size: 1em;
            margin-right: 4px;
            transition: all ease 0.4s;
            @media #{$mq-smartphones-portrait-landscape}{
                width: 65%;
            }
            &:focus{
                background: $color-focus;
            }
        }
        button{
            width: 100px;
            height: 35px;
            background: #f3f3f3;
            color: #666;
            border: none;
            font-size: 0.9em;
            border-radius: 3px;

            &:hover{
                background: $color-button-hover;
                border: 1px solid $color-button-hover;
                color: white;
                font-weight: bold;
            }
        }
    }
}

.youtube-box{
    width: 100%;
    padding: 10px;
    border: 1px solid #DADCE0;
    border-radius: 3px;
    iframe{
        width: 100%;
        height: 390px;
    }
}

// SIDEBAR COMPONENT
.sidebar-component{
    width: 100%;
    min-height: 400px;
    padding: 10px;
}


// COLORS BG
.bg-blue{
    background: cornflowerblue;
}

.bg-sepia{
    background: #f7f7ea;
    margin-top: 15px;
}


// LAST EVENTS
.last-events{
    margin-top: 10px;
    ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            padding: 8px;
            border: 1px solid #f3f3f3;
            a{
                color: #333;
                text-decoration: none;
                &:hover{
                    color: #069;
                }
            }
            .title{
                margin-top: 0px;
                margin-bottom: 0px;
                font-size: 1em;
            }
        }
        p{
            margin-top: 10px;
        }
    }
}

// MISC
.page-content{

    img{
        float: left;
        margin: 15px;
    }

    ul{
        margin-left: 20px;
    }

    .section-title{
    font-size: 1.4em;
    margin-top: 75px;
    margin-bottom: 20px;
    padding-bottom: 4px;
    border-bottom: 1px solid green;
    span{
        position: relative;
        &:before{
            content: '';
            bottom: -3px;
            left: 0;
            width: 120%;
            height: 2px;
            background-color: rgb(78, 133, 46);
            z-index: 500;
            position: absolute;
        }
    }
}


}

.newsletter-content{
    width: 800px;
    margin: 20px auto;
}

.newsletter-previous-item{
    padding: 12px;
    border-bottom: 10px solid #f3f3f3;
    margin-bottom: 10px;
    h2{
        margin: 0 0 5px 0;
        font-size: 1.4em;
    }
    ul{
        padding-left: 30px;
    }
}

.section-spacer{
    margin-top: 30px;
}

.img-featured-blog-post-detail{
    margin: auto 20px 10px 10px !important;
    @media #{$mq-desktops-laptops}{
        width: 400px;
    }
}

.post-detail-title{
    font-size: 1.5em;
    line-height: 22pt;
}

.post-detail-content{
    border-top: 1px solid #666;
    padding-top: 30px;
    margin-top: 40px;
}

.no-padding-top{
    padding-top: 0 !important;
}

.facebook-like-btn-box{
    @media #{$mq-smartphones-portrait-landscape}{
        display: none;
    }
}

.desktop-only{
    @media #{$mq-smartphones-portrait-landscape}{
        display: none;
    }
}

.mobile-only{
    @media #{$mq-desktops-laptops}{
        display: none;
    }
    @media #{$mq-large-screens}{
        display: none;
    }
}

.facebook-like-btn-box{
    margin-top: 20px;
}

.container-posts{
    display: flex;
    @media #{$mq-smartphones-portrait-landscape}{
        flex-direction: column;
     }
}

.container-posts--horizontal{

    flex-direction: column;
    .post-item{
        width: 100%;
        flex-direction: row;
        .post-image-box{
            width: 25%;
            margin-right: 14px;
        }
        .post-info{
            width: 70%;
            .post-title{
                color: #333;
                margin-bottom: 10px;
                min-height: auto;
                &:hover{
                    color: #069;
                }
            }
        }
    }
}

.container-paralax{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px auto;
    height: 400px;
}

.newsletter-box{
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            border-bottom: 1px solid #ccc;
            h2{
                font-size: 1.3em;
                small{
                    font-weight: bold;
                    color: #333;
                    background: khaki;
                }
            }
        }
    }
}

.podcast-button{
    display: flex;
    align-items: center;
    padding: 8px 8px 8px 110px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 0;
    background-color: #131e4c;
    width: 100%;
    height: 90px;;
    color: #6186c4;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 30px;
    flex-grow: 0;
    flex-shrink: 0;

    @media #{$mq-desktops-laptops}{
        font-size: 1em;
        background-size: 70px;
        margin-top: 10px;
        height: 70px;
    }

    &:hover{
        border: 1px solid $verde-neuromat;
    }
}

// FOOTER
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 200px;
    background: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
        @media #{$mq-smartphones-portrait-landscape}{
            width: 100%;
            flex-direction: column;
        }
    .license{
        color: #ccc;
        border-top: 1px solid #ccc;
        padding-top: 15px;
    }
    .footer-info{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 20px auto;

        @media #{$mq-smartphones-portrait-landscape}{
            width: 100%;
        }

        .marcas-footer{
            display: flex;
            justify-content: space-between;
            width: 400px;
            @media #{$mq-smartphones-portrait-landscape}{
                width: 100%;
                margin: auto;
                padding: 10px;
            }

            .marca-apoio{
                width: 180px;
                display: flex;
                flex-direction: column;
                @media #{$mq-smartphones-portrait-landscape}{
                    width: 130px;
                }

                span{
                    color: white;
                }
                img{
                    width: 70%;
                }
            }

            .marca-apoio.localizacao{
                span{
                    margin-bottom: 5px;
                }
                img{
                    width: 35%;
                }
            }
        }

        .address-info{
            h3{
                font-size: 1.1em;
                color: white;
                margin: 0;
                padding-top: 3px;
            }
            ul{
                list-style: none;
                padding: 0;
                li{
                    color: white;
                    margin: 0;
                    h4{
                        font-size: 1em;
                        margin-bottom: 0;
                        a{
                            color: $color-link-footer;
                        }

                    }
                    p{
                        margin: 0; padding: 0;
                        font-size: 0.95em;
                        a{
                            color: $color-link-footer;
                        }
                    }
                }
            }

            @media #{$mq-smartphones-portrait-landscape}{
                display: none;
            }

        }

        ul.sitemap-tree{
            display: flex;
            list-style: none;
            padding-left: 0;
            @media #{$mq-smartphones-portrait-landscape}{
                display: none;
            }
            @media #{$mq-desktops-laptops}{
                display: none;
            }
            li{
                margin-left: 30px;
                a{
                    color: white;
                    font-size: 1.1em;
                }
                ul{
                    margin-top: 15px;
                    margin-left: 5px;
                    padding: 0;
                    li{
                        margin-bottom: 5px;
                        margin-left: 5px;
                        a{
                            font-size: 0.9em;
                        }
                    }
                }
            }

            li.social-media-list{
                span{
                    color: white;
                    font-size: 1.1em;
                }
                i{
                    margin-right: 4px;
                }
            }
        }

    }
}

// OVERIDES
.container-fluid--spacer{
    padding-top: 30px;
    padding-bottom: 30px;
}

// SLIDESHOW COMPONENT
.slider-wrapper {
    width: 100%;
    height: 380px;
    background: #000;
    overflow: hidden;
    position: relative;
  }

  .inner-wrapper {
    width: 500%;
    height: 100%;
    position: relative;
    left: -100%;
  }

  .slide {
    width: calc(100%/5);
    height: 100%;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 700;
    float: left;
    position: relative;
    .image-frame{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    .slide-info{
        top:0;
        left: 0;
        width: 100%;
        height: 380px;
        position: absolute;
        z-index: 8000;
        padding: 40px;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(0,0,0,1) 42%, rgba(0,0,0,0) 100%);
        @media #{$mq-desktops-laptops}{
            background: linear-gradient(90deg, rgba(0,0,0,1) 48%, rgba(0,0,0,0) 100%);
        }
        .slide-title{
            color: white;
            font-size: 0.35em;
            width: 50%;
            line-height: 54px;
            padding-bottom: 0;
            min-height: 130px;

            @media #{$mq-smartphones-portrait-landscape}{
                font-size: 0.20em;
                line-height: 34px;
                width: 70%;
            }

            @media #{$mq-large-screens}{
                font-size: 0.35em;
                line-height: 54px;
            }

            @media #{$mq-desktops-laptops}{
                font-size: 0.25em;
                line-height: 35px;
            }
        }
        a, button{
            position: absolute;
            left: 35px;
            bottom: 40px;
            min-width: 200px;
            padding: 8px;
            font-size: 18px;
            border: none;
            border-radius: 4px;
            margin-left: 20px;
            text-decoration: none;
            text-align: center;
            color: #333;
            background: #f3f3f3;
            &:hover{
                background: $color-button-hover;
                color: white;
            }
        }
    }
  }

  .button {
    width: 30px;
    height: 30px;
    //border-top: 4px solid rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    cursor: pointer;
    border-color: rgb(46, 116, 46) !important;
    opacity: 0.5;
  }

  .prev {
    border-left: 4px solid black;
    left: 3%;
    transform: rotate(-45deg);
    z-index: 8500;
    &:hover{
        border-color: $color-button-hover;
        opacity: 1;
    }
  }

  .next {
    border-right: 4px solid black;
    right: 3%;
    transform: rotate(45deg);
    z-index: 8500;
    &:hover{
        border-color: $color-button-hover;
        opacity: 1;
    }
}

.navbar-mobile{
    background: #f3f3f3;
    margin-bottom: 15px;
}

// SEARCH RESULTS

.search-results-block{
    list-style: none;

    li{
        margin-bottom: 20px;
        padding: 10px;
        border-bottom: 1px solid #f3d494;

        .search-results-title{
            line-height: 17pt;
            margin-top: 0 !important;

        }
        p{
            font-style: italic;
        }
        
        &:hover{
            background: #f3f0bd;
        }
    }
}

.feature-event{
    margin-bottom: 20px;
}

// CONTACT RICHTEXT PAGE

    .contact-block-info{
        .address-info{
            margin-left: 15px;
        }
        .social-media-list{
            margin-left: 0;
            padding-left: 0;
            li{
                list-style: none;
                margin-bottom: 5px;
                margin-left: 0;
                padding-left: 0;
                a{
                    color: #333;
                    i{
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .btn-see-more{
        padding: 6px;
        min-width: 180px;
        border: 1px solid $color-button-hover;
        display: flex;
        justify-content: center;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        cursor: pointer;
        color: $color-button-hover;
        a{
            text-decoration: none !important;
        }
        &:hover{
            background: $color-button-hover;
            color: white;
            a{
                text-decoration: none;
            }
        }
    }