
/*
  ========================================
  Header
  ========================================
*/


.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;

}

/* Logo NeuroMat */
.top-neuromat {
  font-weight: bold;
  position: relative;
  top: 30%; /* TODO: make relative, try does not use magic number */
  float: left;
  margin-top: 20px;
  margin-right: 40px;
  font-size: 40px;
  color: #333;
}

.top-neuromat:hover,.top-neuromat:focus  {
    text-decoration: none;
    color: #0a7c5c;
}

/* Texto ao lado do logo */
.top-small {
  font-size: 1.5rem;
  display: inline-block;
  width: 44%; /* TODO: make relative, try does not use magic number */
  margin-top: 5px;
  border-left: 1px solid #c9c3c3;
  padding-top: 10px;
  padding-left: 20px;
  color: #333;
  line-height: 20px;
}

/* Menu principal */
.navbar-inverse {
  background-color: #333;
  border: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #317b00;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #317b00;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #317b00;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #333;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 5px solid #317b00;
  border: 5px solid rgba(0, 0, 0, .15);
  border-color: #317b00;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #FFFFFF;
  white-space: nowrap;
}

/*
  ========================================
  Body
  ========================================
*/

a {
  color: #0a7c5c;
  text-decoration: none;
  background-color: transparent;
}


a.white {
  color: #FFF;
  text-decoration: none;
  background-color: transparent;
}


a.titulo {
  font-weight: bold;
  color: #0a7c5c;
  text-decoration: none;
  background-color: transparent;
  font-size: 2.0rem;
}


.table_sidebar {
  background-color: #333;
  color: #FFFFFF;
}


.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}


.panel-default {
  border: none;
}


html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.body-neuromat {
  margin-top: 30px;
  font-size: 1.5rem; /*@ale : aumentar a fonte do texto principal */
  font-weight: 400;
  line-height: 1.5;
  color: #3e3e3e;
  text-align: left;
  background-color: #fff;
}


/*
  ========================================
  Footer
  ========================================
*/

footer {
  background-color: #333;
  border-top: 1px solid #E7E7E7;
  margin-top: 15px;
  padding: 15px 0 30px;
}

.neuromat-footer {
  color: #fff;
  background: #333;
  border-radius: 3px;
}

.footer-content-align {
  text-align: center;
  margin-top:20px;
}

.neuromat-footer h4 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.neuromat-footer span {
  background-color: #ffffff;
  color: #333;
  padding: 5px;
  margin-right: 5px;
  font-size: 23px;
  border-radius: 3px;
}

.neuromat-footer .fa-facebook{
    padding: 5px 8px;
}

.neuromat-footer a {
  color: #ffffff;
}

.neuromat-footer a:hover, .neuromat-footer a:active {
  color: #ffffff;
  text-decoration: underline;
}

.fapesp-icon {
  margin-bottom: -5px;
}

.footer-license {
  float: right;
}

.footer-license p {
  font-size: 13px;
  margin: 15px 10px;
}

/* Para os links do rodapé */
.list-group-item {
  background: transparent;
  border: none;
  padding: 5px 0px;
}







/*
=====================================
Badges
=====================================
 */

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.4rem;
}

a.badge:hover, a.badge:focus {
  text-decoration: none;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge-primary {
  color: #fff;
  background-color: #78C2AD;
}

a.badge-primary:hover, a.badge-primary:focus {
  color: #fff;
  background-color: #55b298;
}

.badge-secondary {
  color: #fff;
  background-color: #F3969A;
}

a.badge-secondary:hover, a.badge-secondary:focus {
  color: #fff;
  background-color: #ee686e;
}

.badge-success {
  color: #fff;
  background-color: #56CC9D;
}

a.badge-success:hover, a.badge-success:focus {
  color: #fff;
  background-color: #37b885;
}

.badge-info {
  color: #fff;
  background-color: #6CC3D5;
}

a.badge-info:hover, a.badge-info:focus {
  color: #fff;
  background-color: #44b3ca;
}

.badge-warning {
  color: #fff;
  background-color: #FFCE67;
}

a.badge-warning:hover, a.badge-warning:focus {
  color: #fff;
  background-color: #ffbe34;
}

.badge-danger {
  color: #fff;
  background-color: #FF7851;
}

a.badge-danger:hover, a.badge-danger:focus {
  color: #fff;
  background-color: #ff501e;
}

.badge-light {
  color: #fff;
  background-color: #f8f9fa;
}

a.badge-light:hover, a.badge-light:focus {
  color: #fff;
  background-color: #dae0e5;
}

.badge-dark {
  color: #fff;
  background-color: #343a40;
}

a.badge-dark:hover, a.badge-dark:focus {
  color: #fff;
  background-color: #1d2124;
}