/*
  ========================================
  Header
  ========================================
*/

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;;
}


.navbar-collapse {
  border-top: 0 solid transparent;
}

.navbar-form {
  border-top: 1px solid transparent;
  border-bottom: 0 solid transparent;
}


/* Logo NeuroMat */
.top-neuromat {
  font-weight: bold;
  position: relative;
  top: 30%; /* TODO: make relative, try does not use magic number */
  float: left;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 40px;
  color: #333;
}

.top-neuromat:hover,.top-neuromat:focus  {
    text-decoration: none;
    color: #000;
}

/* Texto ao lado do logo */
.top-small {
  font-size: smaller;
  display: inline-block;
  width: 34%; /* TODO: make relative, try does not use magic number */
  margin-top: 5px;
  border-left: 1px solid #333;
  padding-left: 10px;
  color: #333;
  line-height: 20px;
}

/* Menu principal */
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 10px;
  border: 1px solid transparent;
}

.navbar-inverse {
  background-color: #333;
  border: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #317b00;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #317b00;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #317b00;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #333;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 5px solid #317b00;
  border: 5px solid rgba(0, 0, 0, .15);
  border-color: #317b00;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #FFFFFF;
  white-space: nowrap;
}

/*
  ========================================
  Body
  ========================================

*/

body {
  padding-top: 10px;
  line-height: 165%;
}

.table_sidebar {
  background-color: #333;
  color: #FFFFFF;
}

.panel-default {
  border: none;
  padding-top: 30px;
}

.my-hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2em 0;
  padding: 0;
}

/*
===================================
Idiomas
-----------------------------------
*/

.idioma {
  margin-top: -20px;
  margin-bottom: 5px;
}
/*
  ========================================
  Footer
  ========================================
*/

footer {
  background-color: #333;
  border-top: 1px solid #E7E7E7;
  margin-top: 15px;
  padding: 15px 0 30px;
}

.neuromat-footer {
  color: #fff;
  background: #333;
  border-radius: 3px;
}

.footer-content-align {
  text-align: center;
  margin-top:20px;
}

.neuromat-footer h4 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.neuromat-footer span {
  background-color: #ffffff;
  color: #333;
  padding: 5px;
  margin-right: 5px;
  font-size: 23px;
  border-radius: 3px;
}

.neuromat-footer .fa-facebook{
    padding: 5px 8px;
}

.neuromat-footer a {
  color: #ffffff;
}

.neuromat-footer a:hover, .neuromat-footer a:active {
  color: #ffffff;
  text-decoration: underline;
}

.fapesp-icon {
  margin-bottom: -5px;
}

.footer-license {
  float: right;
}

.footer-license p {
  font-size: 13px;
  margin: 15px 10px;
}

/* Para os links do rodapé */
.list-group-item {
  background: transparent;
  border: none;
  padding: 5px 0px;
}
