/*
  ========================================
  Header
  ========================================
*/

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;;
}


.navbar-collapse {
  border-top: 0 solid transparent;
}

.navbar-form {
  border-top: 0 solid transparent;
  border-bottom: 0 solid transparent;
}


/* Logo NeuroMat */
.top-neuromat {
  font-weight: bold;
  position: relative;
  top: 30%; /* TODO: make relative, try does not use magic number */
  float: left;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 40px;
  color: #333;
}

.top-neuromat:hover,.top-neuromat:focus  {
    text-decoration: none;
    color: #000;
}

/* Texto ao lado do logo */
.top-small {
  font-size: smaller;
  display: inline-block;
  width: 34%; /* TODO: make relative, try does not use magic number */
  margin-top: 5px;
  border-left: 1px solid #333;
  padding-left: 10px;
  color: #333;
  line-height: 20px;
}

/* Menu principal */
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 10px;
  border: 1px solid transparent;
}

.navbar-inverse {
  background-color: #333;
  border: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #317b00;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #317b00;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #317b00;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #333;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 5px solid #317b00;
  border: 5px solid rgba(0, 0, 0, .15);
  border-color: #317b00;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #FFFFFF;
  white-space: nowrap;
}

/*
  ========================================
  Body
  ========================================

*/

body {
  padding-top: 10px;
  line-height: 165%;
}

.table_sidebar {
  background-color: #333;
  color: #FFFFFF;
}

.panel-default {
  border: none;
  padding-top: 30px;
}

.my-hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2em 0;
  padding: 0;
}

/*
===================================
Idiomas
-----------------------------------
*/


@media (min-width: 768px) {
  .idioma {
    margin-top: -20px;
    margin-bottom: 5px;
  }

  .alinha-direita {
    text-align:right
  }

}

/*-------------------------------
Formulario
---------------------------------
 */

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}


/*========================================
            MEZZANINE FORMS
==========================================
  These rules mirror the rules for .form-control included with
  Bootstrap. They are needed because we can not directly apply
  CSS classes to the form fields when rendering them in the template.
  They also cover special cases for date and date/time inputs.
*/

.form-group > input[type="text"],
.form-group > input[type="password"],
.form-group > input[type="datetime"],
.form-group > input[type="datetime-local"],
.form-group > input[type="date"],
.form-group > input[type="month"],
.form-group > input[type="time"],
.form-group > input[type="week"],
.form-group > input[type="number"],
.form-group > input[type="email"],
.form-group > input[type="url"],
.form-group > input[type="search"],
.form-group > input[type="tel"],
.form-group > input[type="color"],
.form-group > select,
.form-group > textarea {
  display: inline-block;
  width: 100%;
  max-width: 170px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-group > input[type="text"]:focus,
.form-group > input[type="password"]:focus,
.form-group > input[type="datetime"]:focus,
.form-group > input[type="datetime-local"]:focus,
.form-group > input[type="date"]:focus,
.form-group > input[type="month"]:focus,
.form-group > input[type="time"]:focus,
.form-group > input[type="week"]:focus,
.form-group > input[type="number"]:focus,
.form-group > input[type="email"]:focus,
.form-group > input[type="url"]:focus,
.form-group > input[type="search"]:focus,
.form-group > input[type="tel"]:focus,
.form-group > input[type="color"]:focus,
.form-group > select:focus,
.form-group > textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-group > textarea {
  height: auto;
  max-width: 300px;
}





.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group[class*="col-"] {
  float: none;
  padding-right: 0;
  padding-left: 0;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}


/*
  ========================================
  Footer
  ========================================
*/

footer {
  background-color: #333;
  border-top: 1px solid #E7E7E7;
  margin-top: 15px;
  padding: 15px 0 30px;
}

.neuromat-footer {
  color: #fff;
  background: #333;
  border-radius: 3px;
}

.footer-content-align {
  text-align: center;
  margin-top:20px;
}

.neuromat-footer h4 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.neuromat-footer span {
  background-color: #ffffff;
  color: #333;
  padding: 5px;
  margin-right: 5px;
  font-size: 23px;
  border-radius: 3px;
}

.neuromat-footer .fa-facebook{
    padding: 5px 8px;
}

.neuromat-footer a {
  color: #ffffff;
}

.neuromat-footer a:hover, .neuromat-footer a:active {
  color: #ffffff;
  text-decoration: underline;
}

.fapesp-icon {
  margin-bottom: -5px;
}

.footer-license {
  float: right;
}

.footer-license p {
  font-size: 13px;
  margin: 15px 10px;
}

/* Para os links do rodapé */
.list-group-item {
  background: transparent;
  border: none;
  padding: 5px 0px;
}
