{% load i18n pages_tags custom_home_loops %}
{% spaceless %}
{% if page_branch_in_menu %}
        <nav>
            <ul>
                {% for page in page_branch %}
                    {% if page.in_menu %}
                        <li class="{% if page.has_children_in_menu %} submenu {% endif %}" >
                            <a href="{{ page.get_absolute_url }}"> {{ page.title }}</a>
                            {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
                        </li>
                    {% endif %}
                {% endfor %}

                {# SOCIAL MEDIA AND LAGUAGE LINKS #}
                {% if branch_level == 0 %}

                    <div class="language-link">
                        {% include "includes/language_selector.html" %}
                    </div>
                    {% get_social_media_links as social_links %}
                    {% for sociallink in social_links %}
                        <li class="social-media-link">
                            <a title="{{ sociallink.link }}" target="_blank" href="{{ sociallink.link }}">
                                <i class="{{ sociallink.icon_class }}"></i>
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}

            </ul>
        </nav>
    {% endif %}
{% endspaceless %}