{% load i18n pages_tags %}
{% spaceless %}
{% if page_branch_in_menu %}

        <nav>
            <ul>
                {% for page in page_branch %}
                    {% if page.in_menu %}
                        <li>
                            <a href="{{ page.get_absolute_url }}"> {{ page.title }}</a>
                            {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
                        </li>
                    {% endif %}
                {% endfor %}

                {# SOCIAL MEDIA AND LAGUAGE LINKS #}
                {% if branch_level == 0 %}

                    <div class="language-link">
                        {% include "includes/language_selector.html" %}
                    </div>

                    <li class="social-media-link">
                        <a title="Facebook" href="#"><i class="fab fa-facebook-square"></i></a>
                    </li>
                    <li class="social-media-link">
                        <a title="LinkedIn" href="#"><i class="fab fa-linkedin"></i></a>
                    </li>
                    <li class="social-media-link">
                        <a title="Github" href="#"><i class="fab fa-github" aria-hidden="true"></i></a>
                    </li>
                    <li class="social-media-link">
                        <a title="Wikipedia" href="https://en.wikipedia.org/wiki/NeuroMat"><i class="fab fa-wikipedia-w"></i></a>
                    </li>
                    <li class="social-media-link">
                        <a title="Youtube" href="https://en.wikipedia.org/wiki/NeuroMat"><i class="fab fa-youtube"></i></a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    {% endif %}
{% endspaceless %}