{% load blog_tags keyword_tags mezzanine_tags i18n staticfiles %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="table">
    <table class="table">
        <tr>
            <th class="table_sidebar">NeuroCineMat</th>
        </tr>
        <tr>
            <td>
                {% trans "Featuring this week:" %}<br>
                <div class="embed-responsive embed-responsive-4by3">
                  <iframe src="https://www.youtube.com/embed/aIS3Y9CMKio" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="table">
    <table class="table">
        <tr>
            <th class="table_sidebar">Newsletter</th>
        </tr>
        <tr>
            <td>
                <p>{% trans "Stay informed on our latest news!" %}</p>
                <form enctype="multipart/form-data" method="post" action="{% url "subscription" %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                        <input type="email" class="form-control" name="email" placeholder="E-mail" required="" aria-describedby="basic-addon1">
                    </div>
                    <br>
                    <button class="btn btn-success" id="id_submit" name="submit" value="Subscribe" type="submit">{% trans "Subscribe" %}</button>
                </form>
                <br>
                <p><a href="{% url "previous_issues" %}">{% trans "Previous issues" %}</a></p>
            </td>
        </tr>
    </table>
</div>

<div class="table">
    <table class="table">
        <tr>
            <th class="table_sidebar">{% trans "Follow Us on Facebook" %}</th>
        </tr>
        <tr>
            <td>
                <div class="fb-page" data-href="https://www.facebook.com/neuromathematics/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/neuromathematics/" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/neuromathematics/">NeuroMat - Research Center for Neuromathematics</a>
                    </blockquote>
                </div>
            </td>
        </tr>
    </table>
</div>


<div class="table">
    <table class="table">
        <tr>
            <th class="table_sidebar">{% trans "Podcast A Matemática do Cérebro" %}</th>
        </tr>
        <tr>
            <td>
                <a title="Podcast a Matemática do Cérebro" href="https://podcast.numec.prp.usp.br/" target="_blank">
                    <img src="{% static 'img/podcast.png'%}" class="img-responsive center-block" alt="{% trans "Podcast A Matemática do Cérebro" %}">
                </a>
            </td>
        </tr>
    </table>
</div>

<div class="table">
    <table class="table">
        <tr>
            <th class="table_sidebar">{% trans "NeuroMat Brachial Plexus Injury Initiative" %}</th>
        </tr>
        <tr>
            <td>
                <a href="https://abraco.numec.prp.usp.br/" target="_blank">
                    <img src="{% static 'img/logoabraco.png'%}" class="img-responsive center-block" alt="{% trans "Logo of the NeuroMat Brachial Plexus Injury Initiative" %}">
                </a>
            </td>
        </tr>
    </table>
</div>

<div class="table">
    <table class="table">
        <tr>
            <th class="table_sidebar">{% trans "Neuroscience Experiments System" %}</th>
        </tr>
        <tr>
            <td>
                <a href="https://github.com/neuromat/nes/blob/master/README.md" target="_blank">
                    <img src="{% static 'img/banner_nes.png'%}" class="img-responsive center-block" style="width: 100%;"  alt="{% trans "Logo of the Neuroscience Experiments System" %}">
                </a>
            </td>
        </tr>
    </table>
</div>

<div class="table">
    <table class="table">
        <tr>
            <th class="table_sidebar">{% trans "NeuroMat Parkinson Network" %}</th>
        </tr>
        <tr>
            <td>
                <a href="https://amparo.numec.prp.usp.br/" target="_blank">
                    <img src="{% static 'img/amparo.jpg'%}" class="img-responsive center-block" alt="{% trans "Logo of the NeuroMat Parkinson Network" %}">
                </a>
            </td>
        </tr>
    </table>
</div>

<div class="table">
    <table class="table">
        <tr>
            <th class="table_sidebar">{% trans "NeuroMat's scientific-dissemination blog" %}</th>
        </tr>
        <tr>
            <td>
                <a href="https://difusaoneuromat.wordpress.com/" target="_blank">
                    <img src="{% static 'img/logo-blog.jpg'%}" class="img-responsive center-block" alt="{% trans "Logo of the NeuroMat's scientific-dissemination blog" %}">
                </a>
            </td>
        </tr>
    </table>
</div>
