{% load i18n staticfiles %}
{% get_language_info_list for LANGUAGES as languages %}
{% if settings.USE_MODELTRANSLATION and languages|length > 1 %}
    {# hide submit button if browser has javascript support and can react to onchange event #}
    <script>$(document).ready(function(){$('#language_selector_form').change(function(){this.submit();});$('#language_selector_form input').hide();});</script>
    <form action="{% url "set_language" %}" class="navbar-form navbar-right" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ language.code }}" />
        {% for language in languages %}
            {% if language.code != LANGUAGE_CODE %}
                <img src="{% if language.code == 'pt-br' %}{% static 'img/br.png'%}{% else %}{% static 'img/gb.png'%}{% endif %}" alt="" style="align-self:center;">
                <input name="language" type="hidden" value="{% if language.code == 'pt-br' %}pt-br{% else %}en{% endif %}" />
                <input type="submit" style="color: #333; outline: none;" class="btn btn-link" value="{% if language.code == 'pt-br' %}Português{% else %}English{% endif %}" />
            {% endif %}
        {% endfor %}
    </form>
{% endif %}