<div class="col-md-9 col-sm-12">
    <div class="post-feature-item">
        <div class="post-feature-image" style="background-image:url('{{ STATIC_URL }}img/numec_foto_predio.jpg')"></div>

        <div class="post-feature-info">

            <h3 class="section-title"> <span>CEPID Neuromat</span></h3>
            <p>O Centro de Pesquisa, Inovação e Difusão em Neuromatemática (CEPID NeuroMat) é um centro de matemática cuja missão é desenvolver a nova matemática necessária para construir uma Teoria do Cérebro, tendo em vista os dados experimentais produzidos pela neurociência.</p>
            <p><a href="/the-neuromat-project">Conheça o projeto</a></p>

            {% include 'components/newsletter_subscribe_input/newsteller_subscribe_input.html' %}
        </div>
    </div>
    <div class="facebook-like-btn-box">
        <div class="fb-like" data-href="http://neuromat.numec.prp.usp.br" data-width="" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </div>
</div>