{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags custom_home_loops %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Home" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% if page %}
        {% editable page.title %}{{ page.title }}{% endeditable %}
    {% else %}
        {% trans "Blog" %}
    {% endif %}
{% endblock %}

{# ESTRUTURA DO NOVO PORTAL #}
{% block main %}
    {# MAIN SLIDESHOW COMPONENT #}
    {% include 'components/slideshow/slideshow.html' %}
    <div class="container-fluid container-fluid--spacer no-padding-top bg-sepia">

        {% include "includes/search_form.html" %}

        <section class="section-default">
            <h3 class="section-title"> <span>Notícias destaque</span></h3>
            <div class="container-posts">
                {% blog_recent_posts category='feature' as posts %}
                {% for post in posts %}
                <div class="post-item">
                    <div class="post-image-box">
                        <a href="{{ post.get_absolute_url }}">
                            {% if post.featured_image %}
                                <div class="post-image"
                                     style="background-image:url('{{ MEDIA_URL }}{{ post.featured_image }}')">
                                </div>
                            {% else %}
                                <div class="post-image"
                                     style="background-image:url('{{ STATIC_URL }}img/image_placeholder.jpg')">
                                </div>
                            {% endif %}
                        </a>
                    </div>
                    <div class="post-info">
                        <small class="post-date">Abr 22, 2019</small>
                        <h3 class="post-title">{{ post }} </h3>
                        <p>The Research, Innovation and Dissemination Center for Neuromathematics (RIDC NeuroMat) has sustained an ongoing project for the development of new strategies of transcranial magneti</p>
                    </div>
                </div>
                {% endfor %}

            </div>
        </section>
    </div>

    {# MAIN SLIDESHOW COMPONENT #}
    {% include 'components/featured_cards_component/featured_cards_component.html' %}

    <div class="container-fluid container-fluid--spacer">
        <section class="section-default">
            <div class="col-md-9 col-sm-12">
{#                        {% autoescape off %}#}
{#                            {% show_page_content %}#}
{#                        {% endautoescape %}#}

                <div class="post-feature-item">
                    <div class="post-feature-image" style="background-image:url('http://localhost:8888/front-end-static/temp/numec_foto_predio.jpg')"></div>

                    <div class="post-feature-info">

                        <h3 class="section-title"> <span>CEPID Neuromat</span></h3>
                        <p>O Centro de Pesquisa, Inovação e Difusão em Neuromatemática (CEPID NeuroMat) é um centro de matemática cuja missão é desenvolver a nova matemática necessária para construir uma Teoria do Cérebro, tendo em vista os dados experimentais produzidos pela neurociência.</p>
                        <p><a href="#">Conheça o projeto</a></p>
                        {% include 'components/newsletter_subscribe_input/newsteller_subscribe_input.html' %}
                    </div>
                </div>
                <div class="facebook-like-btn-box">
                    <div class="fb-like" data-href="http://neuromat.numec.prp.usp.br" data-width="" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                </div>
            </div>
            <div class="col-md-3">
            {# SWIPER SLIDESHOW COMPONENT #}
            {% include 'components/swiper/swiper.html' %}
            </div>
        </section>
    </div>

    <!-- Video and Event Section -->
    <div class="container-fluid container-fluid--spacer">
        <section class="section-default">
            <div class="col-md-7">
                <h3 class="section-title"> <span>Últimos eventos</span></h3>

                <!-- Definir lógica para featured event -->
                <div class="feature-event">
                    <img style="width: 100%;" src="https://neuromat.numec.prp.usp.br/static/media/uploads/dc_hamburger/banner.jpg" alt="">
                </div>
                <!-- / Definir lógica para featured event -->

                <div class="last-events">
                    <ul>

                        {% blog_recent_posts category='Eventos' as eventos %}
                        {% for evento in eventos %}
                            <li>
                                <a href="#">
                                    <div class="date"> Mai 19, 2016</div>
                                    <h4 class="title"> Second NeuroMat Workshop: New Frontiers in NeuroMathematics </h4>
                                </a>
                            </li>
                        {% endfor %}

                        <p><a href="#">Visualizar todos os eventos</a></p>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
            {# YOUTUBE VIDEO COMPONENT #}
            {% include 'components/youtube_video_component/youtube_video_component.html' %}
            </div>
        </section>
    </div>

{% endblock %}

{# Estrutra do portal antigo   #}
{#{% block main %}#}
{##}
{# Início da lista de posts #}
{##}
{##}
{#{% for blog_post in blog_posts.object_list %}#}
{#    {% if not blog_post.hide_post %}#}
        {# Título do post #}
{#        {% block blog_post_list_post_title %}#}
{#            {% editable blog_post.title %}#}
{#            <h3>#}
{#                <a href="{{ blog_post.get_absolute_url }}" style="color: #333">{{ blog_post.title }}</a>#}
{#            </h3>#}
{#            {% endeditable %}#}
{#        {% endblock %}#}
{##}
        {# Categoria do post #}
{#        {% block blog_post_list_post_metainfo %}#}
{#            {% editable blog_post.publish_date %}#}
{#                <h6 class="post-meta">#}
{#                    {% with blog_post.categories.all as categories %}#}
{#                        {% if categories %}#}
{#                            {% for category in categories %}#}
{#                                <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}#}
{#                            {% endfor %}#}
{#                        {% endif %}#}
{#                    {% endwith %} | <span style="color: #666">{{ blog_post.publish_date|date:"M d, Y" }}</span>#}
{#                </h6>#}
{#            {% endeditable %}#}
{#        {% endblock %}#}
{##}
        {# Imagem thumbnail #}
{#        {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}#}
{#            {% block blog_post_list_post_featured_image %}#}
{#            <a href="{{ blog_post.get_absolute_url }}">#}
{#                <img {% if blog_post.credits %} title="{{ blog_post.credits }}" {% endif %} class="img-thumbnail pull-left" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 120 80 %}">#}
{#            </a>#}
{#            {% endblock %}#}
{#        {% endif %}#}
{##}
        {# Conteúdo do post #}
{#        {% block blog_post_list_post_content %}#}
{#            {% editable blog_post.content %}#}
{#                {% with blog_post.categories.all|first as category %}#}
{#                    {% if category.slug == 'events' %}#}
{#                        {{ blog_post.description|safe }}#}
{#                    {% else %}#}
{#                        {{ blog_post.description_from_content|safe }}#}
{#                    {% endif %}#}
{#                {% endwith %}#}
{#            {% endeditable %}#}
{#        {% endblock %}#}
{##}
        {# Tags e botão leia mais #}
{#        {% block blog_post_list_post_links %}#}
{#            <div class="blog-list-detail">#}
{#                {% keywords_for blog_post as tags %}#}
{#                {% if tags %}#}
{#                    <ul class="list-inline tags">#}
{#                        {% trans "Tags" %}:#}
{#                        {% spaceless %}#}
{#                        {% for tag in tags %}#}
{#                        <li><a href="{% url "blog_post_list_tag" tag.slug %}" class="tag">{{ tag }}</a>{% if not forloop.last %}, {% endif %}</li>#}
{#                        {% endfor %}#}
{#                        {% endspaceless %}#}
{#                    </ul>#}
{#                {% endif %}#}
{#                <p>#}
{#                    <a href="{{ blog_post.get_absolute_url }}"><span class="fas fa-plus-circle"></span> {% trans "Read more" %}</a>#}
{#                    {% if blog_post.allow_comments %}#}
{#                    {% endif %}#}
{#                </p>#}
{#            </div>#}
{#        {% endblock %}#}
{#    {% endif %}#}
{#{% endfor %}#}
{##}
{#{% pagination_for blog_posts %}#}
{##}
{#{% if settings.COMMENTS_DISQUS_SHORTNAME %}#}
{#    {% include "generic/includes/disqus_counts.html" %}#}
{#{% endif %}#}
{##}
{#{% endblock %}#}
{##}
{#{% block right_panel %}#}
{#    {% include "blog/includes/filter_panel.html" %}#}
{#{% endblock %}#}
