{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Home" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% if page %}
        {% editable page.title %}{{ page.title }}{% endeditable %}
    {% else %}
        {% trans "Blog" %}
    {% endif %}
{% endblock %}

{% block main %}

{# Início da lista de posts #}
{% for blog_post in blog_posts.object_list %}
    {# Título do post #}
    {% block blog_post_list_post_title %}
        {% editable blog_post.title %}
        <h3>
            <a href="{{ blog_post.get_absolute_url }}" style="color: #333">{{ blog_post.title }}</a>
        </h3>
        {% endeditable %}
    {% endblock %}

    {# Categoria do post #}
    {% block blog_post_list_post_metainfo %}
        {% editable blog_post.publish_date %}
            <h6 class="post-meta">
                {% with blog_post.categories.all as categories %}
                    {% if categories %}
                        {% for category in categories %}
                            <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %} | <span style="color: #666">{{ blog_post.publish_date|date:"M d, Y" }}</span>
            </h6>
        {% endeditable %}
    {% endblock %}

    {# Imagem thumbnail #}
    {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
        {% block blog_post_list_post_featured_image %}
        <a href="{{ blog_post.get_absolute_url }}">
            <img class="img-thumbnail pull-left" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 120 80 %}">
        </a>
        {% endblock %}
    {% endif %}

    {# Conteúdo do post #}
    {% block blog_post_list_post_content %}
        {% editable blog_post.content %}
            {% with blog_post.categories.all|first as category %}
                {% if category.slug == 'events' %}
                    {{ blog_post.description|safe }}
                {% else %}
                    {{ blog_post.description_from_content|safe }}
                {% endif %}
            {% endwith %}
        {% endeditable %}
    {% endblock %}

    {# Tags e botão leia mais #}
    {% block blog_post_list_post_links %}
        <div class="blog-list-detail">
            {% keywords_for blog_post as tags %}
            {% if tags %}
                <ul class="list-inline tags">
                    {% trans "Tags" %}:
                    {% spaceless %}
                    {% for tag in tags %}
                    <li><a href="{% url "blog_post_list_tag" tag.slug %}" class="tag">{{ tag }}</a>{% if not forloop.last %}, {% endif %}</li>
                    {% endfor %}
                    {% endspaceless %}
                </ul>
            {% endif %}
            <p>
                <a href="{{ blog_post.get_absolute_url }}"><span class="fas fa-plus-circle"></span> {% trans "Read more" %}</a>
                {% if blog_post.allow_comments %}
                {% endif %}
            </p>
        </div>
    {% endblock %}
{% endfor %}

{% pagination_for blog_posts %}

{% if settings.COMMENTS_DISQUS_SHORTNAME %}
    {% include "generic/includes/disqus_counts.html" %}
{% endif %}

{% endblock %}

{% block right_panel %}
    {% include "blog/includes/filter_panel.html" %}
{% endblock %}
