{% extends "base.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n disqus_tags %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for blog_post as tags %}
    {% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block extra_head %}
    <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
{% endblock %}

{% block main %}
    <div class="container-fluid container-fluid--spacer bg-sepia">
        <section class="section-default">
            <div class="col-md-8">

                {% include "pages/menus/breadcrumb.html" %}
                <h3 class="post-detail-title">
                    <span> {% editable blog_post.title %}{{ blog_post.title }} {% endeditable %} </span>
                </h3>

                {# Data de criação do post #}
                {% block blog_post_detail_postedby %}
                    {% editable blog_post.publish_date %}
                        <h6 class="post-meta">
                            {{ blog_post.publish_date|date:"M d, Y" }}
                        </h6>
                    {% endeditable %}
                {% endblock %}

                <div class="post-detail-content">
                    {# Imagem #}
                    {% block blog_post_detail_featured_image %}
                        {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                            {% with blog_post.categories.all|first as category %}
                                {% if category.slug == 'events' %}
                                    <img {% if blog_post.credits %} title="{{ blog_post.credits }}" {% endif %}class="img-responsive img-featured-blog-post-detail pull-left" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 500 auto %}" />

                                    {% if blog_post.legend %}
                                        <small class="image-legend">{{ blog_post.legend }}</small>
                                    {%  endif %}

                                {% else %}
                                    <img {% if blog_post.credits %} title="{{ blog_post.credits }}" {% endif %}class="img-responsive img-featured-blog-post-detail pull-left" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 500 0 %}" />
                                    {% if blog_post.legend %}
                                        <small class="image-legend">{{ blog_post.legend }}</small>
                                    {%  endif %}

                               {% endif %}
                            {% endwith %}
                        {% endif %}
                    {% endblock %}

                    {# Conteúdo do post #}
                    {% block blog_post_detail_content %}
                        {% editable blog_post.content %}
                            {{ blog_post.content|richtext_filters }}
                        {% endeditable %}
                    {% endblock %}

                    {# Botão para compartilhar conteúdo no Facebook e Twitter + link para altmetric se for uma publicação #}
                    {% block blog_post_detail_sharebuttons %}
                        {% set_short_url_for blog_post %}
                        <a class="btn btn-sm share-twitter" target="_blank" href="https://twitter.com/intent/tweet?url={{ blog_post.short_url|urlencode }}&amp;text={{ blog_post.title|urlencode }}">{% trans "Share on Twitter" %}</a>
                        <a class="btn btn-sm share-facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">{% trans "Share on Facebook" %}</a>
                        {% if blog_post.altmetric_type and blog_post.altmetric_number %}
                            <a class='btn btn-sm altmetric-embed' target="_blank" data-badge-type='donut' data-condensed='true' data-hide-less-than="1"
                               {% if blog_post.altmetric_type == "arxiv" %}data-arxiv-id{% elif blog_post.altmetric_type == "pubmed" %}data-pmid{% elif blog_post.altmetric_type == "isbn" %}data-isbn{% elif blog_post.altmetric_type == "uri" %}data-uri{% else %}data-doi{% endif %}='{{ blog_post.altmetric_number }}'>
                            </a>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>

            <div class="col-md-3">
                {% include 'components/sidebar/sidebar.html' %}
            </div>
        </section>
        <div class="clearfix"></div>
        {% include 'components/featured_news_components/featured_news_components.html' %}
    </div>



{% endblock %}
