{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags custom_home_loops %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Home" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% if page %}
        {% editable page.title %}{{ page.title }}{% endeditable %}
    {% else %}
        {% trans "Blog" %}
    {% endif %}
{% endblock %}

{# ESTRUTURA DO NOVO PORTAL #}
{% block main %}
    {# MAIN SLIDESHOW COMPONENT #}
    {% include 'components/slideshow/slideshow.html' %}
    <div class="container-fluid container-fluid--spacer no-padding-top bg-sepia">

        {% include "includes/search_form.html" %}


            {# Conteúdo do post #}
        {% block blog_post_list_post_content %}
            {% editable blog_post.content %}
                {% with blog_post.categories.all|first as category %}
                    {% if category.slug == 'events' %}
                       THE CAT BITE A FISH
                        {{ blog_post.description|safe }}
                    {% else %}
                        {{ blog_post.description_from_content|safe }}
                    {% endif %}
                {% endwith %}
            {% endeditable %}
        {% endblock %}


        <section class="section-default">
            <h3 class="section-title"> <span>{% trans "Feature News" %} </span></h3>
            <div class="container-posts">
                {% blog_recent_posts category='news' as posts %}
                {% for post in posts %}
                <div class="post-item">
                    <div class="post-image-box">
                        <a href="{{ post.get_absolute_url }}">
                            {% if post.featured_image %}
                                <div class="post-image"
                                     style="background-image:url('{{ MEDIA_URL }}{{ post.featured_image }}')">
                                </div>
                            {% else %}
                                <div class="post-image"
                                     style="background-image:url('{{ STATIC_URL }}img/image_placeholder.jpg')">
                                </div>
                            {% endif %}
                        </a>
                    </div>
                    <div class="post-info">
                        <small class="post-date">{{ post.publish_date|date:"M d, Y" }}</small>
                        <h3 class="post-title">{{ post.title | truncatewords:15 | safe }} </h3>
                        <p>{{ post.description | truncatewords:50 | safe }}</p>
                    </div>
                </div>
                {% endfor %}

            </div>
        </section>
    </div>

    {# MAIN SLIDESHOW COMPONENT #}
    {% include 'components/featured_cards_component/featured_cards_component.html' %}

    <div class="container-fluid container-fluid--spacer">
        <section class="section-default">
            {# ABOUT NEUROMAT #}
            {% include 'includes/neuromat_about_frame.html' %}

            <div class="col-md-3">
            {# SWIPER SLIDESHOW COMPONENT #}
            {% include 'components/swiper/swiper.html' %}
            </div>
        </section>
    </div>

    <!-- Video and Event Section -->
    {% blog_recent_posts category='events' as eventos %}
    <div class="container-fluid container-fluid--spacer">
        <section class="section-default">
            <div class="col-md-7">
                <h3 class="section-title"> <span> {% trans "Recent Events" %}</span></h3>

                <div class="last-events">
                    <ul>
                        {% for event in eventos %}
                            <li>
                                <a href="{{ event.get_absolute_url }}">
                                    <div class="date"> {{ event.publish_date | date:"M d, Y" }}</div>
                                    <h4 class="title"> {{ event.title }} </h4>
                                </a>
                            </li>
                        {% endfor %}

                        <p><a href="/eventos">Visualizar todos os eventos</a></p>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
            {# YOUTUBE VIDEO COMPONENT #}
            {% include 'components/youtube_video_component/youtube_video_component.html' %}
            </div>
        </section>
    </div>
{% endblock %}