{% load i18n custom_home_loops  %}

<!-- Newsletter feed -->
<div class="newsletter-box">
    {% newsletter_list as newsletters %}
    <p>Matenha-se informado sobre as nossas novidades assinando a nossa newsletter</p>
    <ul>
        {% for newsletter in newsletters %}
        <li>
                <h2>
                    <a title="{% trans "Newsletter" %}{{ newsletters.number }}" href="/newsletter
                    /{{ newsletter.number }}">
                       {% trans "Newsletter" %} # {{ newsletter.number }}
                    </a>
                    <small class="post-date">{{ newsletter.date|date:"F Y"  }}</small>
                </h2>

            <p>{{ newsletter.description | truncatewords:50 | safe }}</p>
        </li>
        {% endfor %}
    </ul>

    <p>
        <a class="btn-see-more" href="/newsletter/previous">
            {% trans "See all newsletter" %}
        </a>
    </p>
</div>