<!-- Newsletter feed -->
<div class="newsletter-box">
    <ul>
        <li>
            <h2>Newsletter #1 <small class="post-date">Abr 22, 2019</small></h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente hic libero dolore sunt?</p>
        </li>
        <li>
            <h2>Newsletter #2 <small class="post-date">Abr 22, 2019</small> </h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente hic libero dolore sunt?</p>
        </li>
        <li>
            <h2>Newsletter #3 <small class="post-date">Abr 22, 2019</small> </h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente hic libero dolore sunt?</p>
        </li>
        <li>
            <h2>Newsletter #4 <small class="post-date">Abr 22, 2019</small></h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente hic libero dolore sunt?</p>
        </li>
    </ul>
    <p>
        <a href="#">Edições anteriores</a>
    </p>
</div>