{% load i18n %}
<div class="newsletter-lead">
    <strong> {% trans "Subscribe to our newsletter" %}</strong>
    <p>{% trans "Stay informed on our latest news!" %}</p>


        <style>
            .success-message{
                color: green;
                display: none;
                font-size: 1.2em;
            }
        </style>

        <h3 id="successMessage" class="success-message">
            <i class="fas fa-check"></i>
            <span> {% trans "Registered successfully" %}</span>
        </h3>

        <form
            id="newsletterForm"
            class="newsletter-lead-row"
            enctype="multipart/form-data"
            method="post"  action="{% url "subscription" %}"
            onsubmit="newsletterSubscribe(event)"
        >
            {% csrf_token %}

            <input id="newsletterInput"
                   autocomplete="off"
                   type="email"
                   name="email"
                   placeholder="{% trans "Type your E-mail" %}"
            />

            <button name="submit" id="id_submit" type="submit">{% trans "Subscribe" %}</button>
        </form>
</div>

<script type="text/javascript">

    let errorMessage = null;

    function validateEmail(email) {
      var re = /^([^1-9])(([^!<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }

    function getCookie(name) {
        if (!document.cookie) {
          return null;
        }

        const token = document.cookie.split(';')
          .map(c => c.trim())
          .filter(c => c.startsWith(name + '='));

        if (token.length === 0) {
          return null;
        }
        return decodeURIComponent(token[0].split('=')[1]);
    }

    //const csrftoken = getCookie('csrftoken');
    const csrftoken = $('input[name="csrftoken"]').value

    function newsletterSubscribe(e) {
        e.preventDefault();
        console.log(e.target);

        const data = {
            email: e.target.email.value,
            csrfmiddlewaretoken: csrftoken,
            action: 'post'
        };

        if(validateEmail(data.email)) {
            $.ajax({
                type: 'POST',
                url: '/newsletter/subscription/',
                data: data,
                success: function(res){
                    $('#newsletterInput').val('');
                    $('#newsletterForm').hide();
                    $('#successMessage').fadeIn();
                },
                error: function(err){
                    console.log(err);
                }
            });
        } else {
            $('#newsletterInput').css('border-color', 'red');
        }

    }
</script>