<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles custom_home_loops %}

    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

        {% ifinstalled mezzanine.blog %}
            <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
            <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
        {% endifinstalled %}

        {% compress css %}
            <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
            <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
            <link rel="stylesheet" href="{% static "css/style.css" %}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
            {% block extra_css %}{% endblock %}
        {% endcompress %}

        {% compress js %}
            <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
            <script src="{% static "js/bootstrap.js" %}"></script>
            <script src="{% static "js/bootstrap-extras.js" %}"></script>
            {% block extra_js %}{% endblock %}
        {% endcompress %}

        <!-- Simple javascript notifications -->
        <link href="{% static 'toastr/toastr.css' %}" rel="stylesheet"/>
        <script src="{% static 'toastr/toastr.js' %}"></script>
        <script src="{% static 'toastr/toastr_messages.js' %}"></script>

        <!--[if lt IE 9]>
        <script src="{% static "js/html5shiv.js" %}"></script>
        <script src="{% static "js/respond.min.js" %}"></script>
        <![endif]-->

        {% block extra_head %}{% endblock %}




    <!-- NOVO PORTAL A PARTI DAQUI -->
        <link rel="stylesheet" href="{% static "css/main-portal.css" %}">
        <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">


    </head>

    <body id="{% block body_id %}body{% endblock %}">
        {% if messages %}
            {% for message in messages %}

                {% if message.tags == "success" %}
                    <script>showSuccessMessage('{{ message }}')</script>
                {% endif %}

                {% if message.tags == "warning" %}
                    <script>showWarningMessage('{{ message }}')</script>
                {% endif %}

                {% if message.tags == "error" %}
                    <script>showErrorMessage('{{ message }}')</script>
                {% endif %}

                {% if message.tags == "info" %}
                    <script>showInfoMessage('{{ message }}')</script>
                {% endif %}

            {% endfor %}
        {% endif %}

    {#    NOVO PORTAL #}
    <!-- Facebook like button stuff -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v5.0&appId=862143357188336&autoLogAppEvents=1"></script>
    <!-- / Facebook like button stuff end -->

    <!-- NAVBAR  -->
    <nav class="navbar navbar-default mobile-only">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">NeuroMat</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
                </li>
            </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- END'S NAVBAR -->

    <div class="app-portal">
        <header>
            <div class="logo">NeuroMat
                <small>Centro de Pesquisa, Inovação e Difusão em Neuromatemática</small>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#">Pesquisa</a>
                        <ul>
                            <li><a href="#">NES</a></li>
                            <li><a href="#">Jogo do Goleiro</a></li>
                            <li><a href="#">ABRACO</a></li>
                            <li><a href="#">AMPARO</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Difusão</a>
                        <ul>
                            <li><a href="#">Notícias</a></li>
                            <li><a href="#">Vídeos</a></li>
                            <li><a href="#">Áudios</a></li>
                            <li><a href="#">Boletim</a></li>
                        </ul>

                    </li>
                    <li><a href="#">Eventos</a></li>
                    <li><a href="#">Oportunidades</a></li>
                    <li><a href="#">CEPID Neuromat</a></li>
                    <li class="language-link"><a href="#"> <img width="20" height="auto" src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Flag_of_the_United_Kingdom.svg" alt="">    English Version</a></li>
                    <li class="social-media-link">
                        <a title="Facebook" href="#"><i class="fab fa-facebook-square"></i></a>
                    </li>
                    <li class="social-media-link">
                        <a title="LinkedIn" href="#"><i class="fab fa-linkedin"></i></a>
                    </li>
                    <li class="social-media-link">
                        <a title="Github" href="#"><i class="fab fa-github" aria-hidden="true"></i></a>
                    </li>
                    <li class="social-media-link">
                        <a title="Wikipedia" href="https://en.wikipedia.org/wiki/NeuroMat"><i class="fab fa-wikipedia-w"></i></a>
                    </li>
                    <li class="social-media-link">
                        <a title="Youtube" href="https://en.wikipedia.org/wiki/NeuroMat"><i class="fab fa-youtube"></i></a>
                    </li>

                </ul>
            </nav>
            <a title="Apoio FAPESP" href="https://www.fapesp.br" class="fapesp-apoio">
                <span>Apoio</span>
            </a>

        </header>

        <main>
            {% block main %} {% endblock %}

            {# MAIN SLIDESHOW COMPONENT #}
            {% include 'components/featured_cards_component/featured_cards_component.html' %}

            <div class="container-fluid container-fluid--spacer">
                <section class="section-default">
                    <div class="col-md-9 col-sm-12">
{#                        {% autoescape off %}#}
{#                            {% show_page_content %}#}
{#                        {% endautoescape %}#}

                        <div class="post-feature-item">
                            <div class="post-feature-image" style="background-image:url('http://localhost:8888/front-end-static/temp/numec_foto_predio.jpg')"></div>

                            <div class="post-feature-info">

                                <h3 class="section-title"> <span>CEPID Neuromat</span></h3>
                                <p>O Centro de Pesquisa, Inovação e Difusão em Neuromatemática (CEPID NeuroMat) é um centro de matemática cuja missão é desenvolver a nova matemática necessária para construir uma Teoria do Cérebro, tendo em vista os dados experimentais produzidos pela neurociência.</p>
                                <p><a href="#">Conheça o projeto</a></p>
                                {% include 'components/newsletter_subscribe_input/newsteller_subscribe_input.html' %}
                            </div>
                        </div>
                        <div class="facebook-like-btn-box">
                            <div class="fb-like" data-href="http://neuromat.numec.prp.usp.br" data-width="" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                    {# SWIPER SLIDESHOW COMPONENT #}
                    {% include 'components/swiper/swiper.html' %}
                    </div>
                </section>
            </div>

            <!-- Video and Event Section -->
            <div class="container-fluid container-fluid--spacer">
                <section class="section-default">
                    <div class="col-md-7">
                        <h3 class="section-title"> <span>Últimos eventos</span></h3>

                        <!-- Definir lógica para featured event -->
                        <div class="feature-event">
                            <img style="width: 100%;" src="https://neuromat.numec.prp.usp.br/static/media/uploads/dc_hamburger/banner.jpg" alt="">
                        </div>
                        <!-- / Definir lógica para featured event -->

                        <div class="last-events">
                            <ul>

                                {% blog_recent_posts category='Eventos' as eventos %}
                                {% for evento in eventos %}
                                    <li>
                                        <a href="#">
                                            <div class="date"> Mai 19, 2016</div>
                                            <h4 class="title"> Second NeuroMat Workshop: New Frontiers in NeuroMathematics </h4>
                                        </a>
                                    </li>
                                {% endfor %}

                                <p><a href="#">Visualizar todos os eventos</a></p>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                    {# YOUTUBE VIDEO COMPONENT #}
                    {% include 'components/youtube_video_component/youtube_video_component.html' %}
                    </div>
                </section>
            </div>
        </main>
    </div>

    {% include "footer.html" %}
    {% block footer_js %}
        {% include "includes/footer_scripts.html" %}
    {% endblock %}

        {#  AQUI COMEÇA O SITE ANTIGO #}
{#        {% include 'top.html' %}#}

{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="container">#}
{#                    <img src="{% static 'img/neuromat.png'%}" class="img-responsive center-block" alt="">#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col-md-9 middle">#}
{#                    {% block main %}{% endblock %}#}
{#                </div>#}
{#                <div class="col-md-3 right">#}
{#                    <div class="panel panel-default">#}
{#                        {% block right_panel %}{% endblock %}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}


        <!-- SLIDESHOW BANNER -->
        <script src="{% static "js/banner_slider.js" %}"></script>

        <!-- PARALLAX -->
        <script type="text/javascript" src="{% static "js/parallax.js" %}"></script>
        <script type="text/javascript">
          $(document).ready(function(){
              $('.container-paralax').parallax({imageSrc: '{% static "img/bg_paralax.png" %}'});
          });
        </script>


      <!-- Swiper Component -->
      <script type="text/javascript" src="https://unpkg.com/swiper/js/swiper.min.js"></script>
      <script type="text/javascript" src="{% static "js/swiper_component.js" %}"> </script>
    </body>
</html>
