<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles custom_home_loops %}

    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

        {% ifinstalled mezzanine.blog %}
            <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
            <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
        {% endifinstalled %}

        {% compress css %}
            <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
            <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
            <link rel="stylesheet" href="{% static "css/style.css" %}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
            {% block extra_css %}{% endblock %}
        {% endcompress %}

        {% compress js %}
            <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
            <script src="{% static "js/bootstrap.js" %}"></script>
            <script src="{% static "js/bootstrap-extras.js" %}"></script>
            {% block extra_js %}{% endblock %}
        {% endcompress %}

        <!-- Simple javascript notifications -->
        <link href="{% static 'toastr/toastr.css' %}" rel="stylesheet"/>
        <script src="{% static 'toastr/toastr.js' %}"></script>
        <script src="{% static 'toastr/toastr_messages.js' %}"></script>

        <!--[if lt IE 9]>
        <script src="{% static "js/html5shiv.js" %}"></script>
        <script src="{% static "js/respond.min.js" %}"></script>
        <![endif]-->

        {% block extra_head %}{% endblock %}

        <!-- NOVO PORTAL A PARTI DAQUI -->
        <link rel="stylesheet" href="{% static "css/main-portal.css" %}">
        <link rel="stylesheet" href="{% static "css/swiper-js.css" %}">
    </head>

    <body id="{% block body_id %}body{% endblock %}">
        {% if messages %}
            {% for message in messages %}

                {% if message.tags == "success" %}
                    <script>showSuccessMessage('{{ message }}')</script>
                {% endif %}

                {% if message.tags == "warning" %}
                    <script>showWarningMessage('{{ message }}')</script>
                {% endif %}

                {% if message.tags == "error" %}
                    <script>showErrorMessage('{{ message }}')</script>
                {% endif %}

                {% if message.tags == "info" %}
                    <script>showInfoMessage('{{ message }}')</script>
                {% endif %}

            {% endfor %}
        {% endif %}

    {# NOVO PORTAL #}
    <!-- Facebook like button stuff -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v5.0&appId=862143357188336&autoLogAppEvents=1"></script>
    <!-- / Facebook like button stuff end -->

    {% page_menu "pages/menus/mobile_dropdown.html" %}

    <div class="app-portal">
        <header>
            <a href="/" class="logo">NeuroMat
                <small>Centro de Pesquisa, Inovação e Difusão em Neuromatemática</small>
            </a>
            {% page_menu "pages/menus/dropdown.html" %}

            <a title="Apoio FAPESP" href="https://www.fapesp.br" class="fapesp-apoio">
                <span>Apoio</span>
            </a>

        </header>

        <main>
            {% block main %} {% endblock %}
        </main>
    </div>

    {% include "footer.html" %}
    {% block footer_js %}
        {% include "includes/footer_scripts.html" %}
    {% endblock %}

    <!-- SLIDESHOW BANNER -->
    <script src="{% static "js/banner_slider.js" %}"></script>

    <!-- PARALLAX -->
    <script type="text/javascript" src="{% static "js/parallax.js" %}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
          $('.container-paralax').parallax({imageSrc: '{% static "img/bg_paralax.png" %}'});
      });
    </script>


      <!-- Swiper Component -->
      <script type="text/javascript" src="https://unpkg.com/swiper/js/swiper.min.js"></script>
      <script type="text/javascript" src="{% static "js/swiper_component.js" %}"> </script>
    </body>
</html>
