{% load i18n staticfiles custom_home_loops %}

<footer>
    <div class="footer-info">
        <!-- Sitemap -->
        {% load i18n pages_tags custom_home_loops %}
        {% spaceless %}
            {% if page_branch_in_menu %}
                <nav>
                    <ul>
                        {% for page in page_branch %}
                            {% trans 'Contact' as contact %}
                            {% if page.in_menu and page.title != contact %}
                                <li class="{% if page.has_children_in_menu %} submenu {% endif %}" >
                                    <a href="{{ page.get_absolute_url }}"> {{ page.title }}</a>
                                    {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            {% endif %}
        {% endspaceless %}

        <!-- Address -->
        <div class="address-info">
            <h3>{% trans 'Contact' %}</h3>
            <ul>
                <li>
                    <h4>{% trans 'Address' %} ( <a href="#">{% trans 'See on map' %}</a> )</h4>
                    <p>{% trans 'Matão St.' %}, 1010 - {% trans 'University City' %} - São Paulo - SP - Brasil. 05508-090.</p>
                </li>
                <li>
                    <h4>{% trans 'Phone' %}:</h4>
                    <p>+55 11 3091-1717</p>
                </li>
                <li>
                    <h4>{% trans 'Email' %}:</h4>
                    <p><a href="mailto:neuromat@numec.prp.usp.br">neuromat@numec.prp.usp.br</a></p>
                </li>

            </ul>

        </div>

        <div class="marcas-footer">
            <div class="marca-apoio">
                <span>{% trans "Supported by" %}:</span>
                <a href="http://www.fapesp.br" target="_blank">
                    <img src="{{ STATIC_URL }}img/Fapesp.png" alt="" />
                </a>
            </div>
            <div class="marca-apoio localizacao">
                <span>{% trans "Hosted by" %}:</span>
                <a href="http://www.usp.br" target="_blank">
                    <img src="https://neuromat.numec.prp.usp.br/static/img/usp.png" alt="" />
                </a>
            </div>
        </div>
    </div>
    <p class="text-center license">{% trans 'Licensed under the terms of' %} Creative Commons Attributions 4.0</p>
</footer>
