{% extends "base.html" %}
{% load i18n %}

{% block main %}
    <h2>{% trans "Application Form" %}</h2>

    <p>
        {% blocktrans %}
            You should have all the necessary data before sending the form. You will not be able to edit your form after submission. If corrections are necessary, please go over the whole procedure.
        {% endblocktrans %}
    </p>

    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="col-sm-6 col-12">
                <label class="control-label">{% trans "Name" %} <b style="color: red;">*</b></label>
                {{ candidate_form.name }}
                <div class="help-block with-errors"></div>
            </div>
            <div class="col-sm-6 col-12">
                <label class="control-label">{% trans "Email" %} <b style="color: red;">*</b></label>
                {{ candidate_form.email }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-12">
                <label class="control-label">{% trans "CPF (For Brazilians)" %}</label>
                {{ candidate_form.cpf }}
                <div class="help-block with-errors"></div>
            </div>
            <div class="col-sm-6 col-12">
                <label class="control-label">{% trans "Passport / RNE" %}</label>
                {{ candidate_form.passport }}
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-12">
                <label class="control-label">{% trans "Phone" %}</label>
                {{ candidate_form.phone }}
                <div class="help-block with-errors"></div>
            </div>
            <div class="col-sm-6 col-12">
                <label class="control-label">{% trans "Mobile phone" %}</label>
                {{ candidate_form.mobile_phone }}
                <div class="help-block with-errors"></div>
            </div>
        </div>

        <div class="span6 offset3 well ">
            <div class="row">
                <div class="col-sm-12">
                    <label class="control-label">{% trans "Files" %}</label>
                    <input type="file" name="file" multiple>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <em>
                        {% blocktrans %}
                            Multiple files may be uploaded by clicking "Choose File". For all documents, PDF format is preferred. (1) Add your FAPESP CV Summary. See www.fapesp.br/en/6351 for instructions. (2) Upload your list of publications. (3) Upload a summary of your research plan (up to 5 pages). (4) Optionally, upload a document with pointers to other research related output, such as software, web pages, etc. (5) Please add a document containing any further information that may help the evaluation process. You may upload a CV in free format, if you wish (optional).
                        {% endblocktrans %}
                    </em>
                </div>
            </div>
        </div>

        <div class="span6 offset3 well ">
            <div class="row">
                <div class="col-sm-12">
                    <label class="control-label">{% trans "Researchers to whom recommendation letters have been requested:" %}</label>
                </div>
            </div>

            {{ research_inlineformset.management_form }}
            {% for research in research_inlineformset %}
                {% for hidden in research.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group  input-group-sm">
                                <span class="input-group-addon"> <span class="glyphicon glyphicon-user"></span></span>
                                {{ research.name }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group  input-group-sm">
                                <span class="input-group-addon"> <span class="glyphicon glyphicon-briefcase"></span></span>
                                {{ research.affiliation }}
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group  input-group-sm">
                                <span class="input-group-addon"> <span class="glyphicon glyphicon-envelope"></span></span>
                                {{ research.email }}
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <em>
                {% blocktrans %}Please provide the name, affiliation and official email address of the researchers that will send the recommendation letters for you.{% endblocktrans %}
            </em>
        </div>

        {% if creating %}
            <button type="submit" name="action" value="save" class="btn btn-success">{% trans "Save" %}</button>
        {% endif %}

    </form>
{% endblock %}

{% block right_panel %}
    {% include "blog/includes/filter_panel.html" %}
{% endblock %}