{% load custom_home_loops %}
{% get_banners as banners %}

{% if  banners  %}
<div class="container-fluid container-fluid--spacer">
    <div class="section-default">
            <div class="slider-wrapper">
                <div class="inner-wrapper">

                    {% for banner in banners %}
                        <div class="slide">
                            <div class="slide-info">
                                <h2 class="slide-title">{{ banner.title }}</h2>
                                <a href="{{banner.link}}" title="{{ banner.title }}">Read more</a>
                            </div>
                            <div class="image-frame" style="background-image:url('{{ MEDIA_URL }}{{ banner.image }}');"></div>
                        </div>
                    {% endfor %}
                </div>
                <div class="button prev"></div>
                <div class="button next"></div>
            </div>
    </div>
</div>
{% endif %}